.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .component-wrapper {
  border: 0px none;
  height: 63.41px;
  width: 145.19px;
}

.box .component-1 {
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}

.box .component-instance {
  background-color: #ff7073 !important;
}
