.component {
  height: 63px;
  width: 145px;
}

.component .overlap-group {
  border-radius: 10px;
  height: 63px;
  position: relative;
}

.component .button {
  background-color: #265fdb;
  border-radius: 10px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-0.17deg);
  width: 145px;
}

.component .element {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 48px;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 94px;
}
